absl-py==2.1.0
aiodns==3.4.0
aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.8.0
APScheduler==3.6.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.6.0
asttokens==3.0.0
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
asyncio-mqtt==0.12.1
attrs==22.2.0
av==12.3.0
Babel==2.10.3
backports.tarfile==1.2.0
beautifulsoup4==4.13.1
bidict==0.23.1
bleach==6.2.0
blinker==1.5
Brotli==1.1.0
build==1.2.2.post1
CacheControl==0.14.3
cachetools==4.2.2
certifi==2022.9.24
cffi==1.17.1
chardet==5.1.0
charset-normalizer==3.0.1
cleo==2.1.0
click==8.1.3
colorama==0.4.6
colorzero==2.0
comm==0.2.2
commonmark==0.9.1
contourpy==1.3.1
crashtest==0.4.1
cryptography==38.0.4
cycler==0.12.1
Cython==3.0.11
debugpy==1.8.12
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.9
distro==1.8.0
dnspython==2.7.0
dulwich==0.22.8
executing==2.2.0
fastjsonschema==2.21.1
filelock==3.18.0
findpython==0.6.3
Flask==2.2.2
flatbuffers==20181003210633
fonttools==4.55.8
fqdn==1.5.1
frozenlist==1.5.0
gast==0.6.0
google-pasta==0.2.0
gpiozero==2.0.1
grpcio==1.70.0
h11==0.16.0
h5py==3.12.1
httpcore==1.0.9
httpx==0.28.1
idna==3.3
importlib_metadata==8.7.0
installer==0.7.0
ipykernel==6.29.5
ipython==8.32.0
ipywidgets==8.1.5
isoduration==20.11.0
itsdangerous==2.1.2
janus==1.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jedi==0.19.2
jeepney==0.9.0
Jinja2==3.1.2
json5==0.10.0
jsonpointer==2.3
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.3.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
keras==3.8.0
keyring==25.6.0
kiwisolver==1.4.8
lgpio==0.2.2.0
libarchive-c==2.9
libclang==18.1.1
lxml==5.3.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.2
matplotlib==3.10.0
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.1.1
ml-dtypes==0.4.1
more-itertools==10.7.0
msgpack==1.1.0
multidict==6.1.0
namex==0.0.8
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest_asyncio==1.6.0
notebook==7.3.2
notebook_shim==0.2.4
numpy==1.26.4
olefile==0.46
opencv-python==4.11.0.86
opt_einsum==3.4.0
optree==0.14.0
overrides==7.7.0
packaging==24.2
paho-mqtt==1.6.1
pandocfilters==1.5.1
parso==0.8.4
pathlib==1.0.1
pbs-installer==2025.5.17
pethublocal @ file:///root/git/pethublocal
pexpect==4.9.0
picamera2==0.3.27
pidng==4.0.9
piexif==1.1.3
pigpio==1.78
Pillow==9.4.0
pkginfo==1.12.1.2
platformdirs==4.3.6
poetry-core==2.1.3
prometheus_client==0.21.1
prompt_toolkit==3.0.50
propcache==0.2.1
protobuf==5.29.3
psutil==6.1.1
ptyprocess==0.7.0
pure_eval==0.2.3
pycares==4.8.0
pycparser==2.22
pycryptodomex==3.11.0
pydantic==2.11.5
pydantic_core==2.33.2
Pygments==2.19.1
pyinotify==0.9.6
PyJWT==2.10.1
PyOpenGL==3.1.6
pyOpenSSL==23.0.0
pyparsing==3.2.1
pyproject_hooks==1.2.0
PyQt5==5.15.9
PyQt5-sip==12.11.1
pyrsistent==0.18.1
python-apt==2.6.0
python-box==6.1.0
python-dateutil==2.9.0.post0
python-dotenv==0.21.0
python-engineio==4.11.2
python-json-logger==3.2.1
python-prctl==1.8.1
python-socketio==5.12.1
python-telegram-bot==13.15
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0.2
pyzmq==26.2.1
RapidFuzz==3.13.0
referencing==0.36.2
requests==2.32.3
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rfc3987==1.3.8
rich==10.16.2
rpds-py==0.22.3
rpi-lgpio==0.6
sdnotify==0.3.1
SecretStorage==3.3.3
Send2Trash==1.8.3
shellingham==1.5.4
simple-websocket==1.1.0
simplejpeg==1.8.1
simplejson==3.18.3
six==1.16.0
smbus2==0.4.2
sniffio==1.3.1
soupsieve==2.6
spidev==3.5
ssh-import-id==5.10
stack-data==0.6.3
-e git+https://github.com/benleb/surepy.git@d4af3694b4201d05afc06ff46e61e586b7cc2fed#egg=surepy
telegram==0.0.1
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.5.0
terminado==0.18.1
tinycss2==1.4.0
toml==0.10.2
tomlkit==0.13.2
tornado==6.4.2
tqdm==4.64.1
traitlets==5.14.3
trove-classifiers==2025.5.9.12
types-python-dateutil==2.9.0.20241206
typing-inspection==0.4.1
typing_extensions==4.12.2
tzlocal==4.2
Unidecode==1.3.6
uri-template==1.3.0
uritemplate==4.1.1
urllib3==1.26.12
v4l2-python3==0.3.5
virtualenv==20.31.2
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==2.2.2
widgetsnbextension==4.0.13
wrapt==1.17.2
wsproto==1.2.0
yarl==1.18.3
zipp==3.22.0
zstandard==0.23.0
